/* Existing styles */

header {
    background-color: #3e6be8;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #bbc2f1;
    text-decoration: none;
}

.profile-photo {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

section {
    padding: 2rem;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 0.5rem 0;
}

.education-item, .course-item {
    margin-bottom: 1rem;
}

.contact-details {
    margin-bottom: 2rem;
    text-align: left;
    display: inline-block;
}

.contact-details a {
    color: #0077b5; /* LinkedIn's blue color */
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}
